---
layout: default
layout-class: layout-post
---

<div id="primary" class="sitePrimary">
  {{ content }}
</div> <!-- #primary .sitePrimary -->
{% if page.secondary or page.page-class == "page-home" %}
  <div id="secondary" class="siteSecondary" role="complementary">
    <div class="site-sidebar clearfix vcard" itemscope itemtype="http://schema.org/Person">
      {% if page.page-class == "page-home" %}
        {% assign post = site.posts.first %}
      {% endif %}
      {% include sidebar.html %}
    </div> <!-- .site-sidebar -->
  </div> <!-- #secondary .siteSecondary -->
{% endif %}
