---
layout: post
---

<article class="post hentry" itemscope itemtype="http://schema.org/Article">
  <header class="entryHeader">
    <div class="entryMeta entryMeta-header">
      <small class="entryDate">
        <time class="entryTime" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      </small>
    </div> <!-- .entryMeta .entryMeta-header -->
    <h1 class="entryTitle" itemprop="name">
      <a class="entryLink" href="{{ site.url }}{{ page.url }}" rel="bookmark">
        {{ page.title }}&nbsp;<span class="entryLink-character">&infin;</span>
      </a>
    </h1>
  </header>
  <div class="entryContent">
    {{ content }}
  </div> <!-- .entryContent -->
  <footer class="entryMeta entryMeta-footer clearfix">
    {% if page.previous.url or page.next.url %}
      <nav class="entryMeta-navigation" role="navigation">
        <h1 class="visuallyHidden">Post Navigation</h1>
      {% if page.previous.url %}
        <a id="js-navigation--previous" href="{{ page.previous.url }}" title="Link to {{ page.previous.title }}" class="entryMeta-navigation--link previous clearfix"><span class="entryMeta-navigation--link__arrow">&larr;&nbsp;</span> <span class="entryMeta-navigation--link__text">{{ page.previous.title }}</span></a>
      {% endif %}
      {% if page.next.url %}
        <a id="js-navigation--next" href="{{ page.next.url }}" title="Link to {{ page.next.title }}" class="entryMeta-navigation--link next clearfix"><span class="entryMeta-navigation--link__text">{{ page.next.title }}</span> <span class="entryMeta-navigation--link__arrow">&nbsp;&rarr;</span></a>
      {%endif %}
      </nav><!--  entryMeta-navigation -->
    {%endif %}
    <p class="entryMeta-footer--posted text-center">Posted by <a href="{{ site.url }}/about/" class="entryMeta-footer--posted-link">{{ site.author.name }}</a> on <span class="entryMeta-footer--posted-date">{{ page.date | date: "%B %-d, %Y" }}</span> in
      {% if page.categories != empty %}
        {% for category in page.categories %}
          {% if forloop.length == 2 %}
            <a class="entryMeta-footer--category" href="{{ site.url }}/category/{{ category | replace:' ','-' }}/" rel="category">{{ category | titlecase }}</a>{% if forloop.last == false %} and {% endif %}{% if forloop.last %}.{% endif %}
          {% else %}
            {% if forloop.last and forloop.length != 1 %}and {% endif %} <a class="entryMeta-footer--category" href="{{ site.url }}/category/{{ category | replace:' ','-' }}/" rel="category">{{ category | titlecase }}</a>{% if forloop.last == false %}, {% endif %}{% if forloop.last %}.{% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <a data-scroll href="#top" class="entryMeta-footer--backToTop float-right">&uarr; Back to top</a>
  </footer> <!-- .entryMeta .entryMeta-footer-->
</article>
