// ==========================================================================
//
//  Archive
//  See _layouts/category-index.html and _layouts/archive.html
//
// ==========================================================================

.archive-title {
  @extend %entryHeader;
  margin-bottom: #{$base-spacing-unit}rem;
}

.layout-archive {

  .post {
    clear: both;
    padding-top: #{$base-spacing-unit}rem;
  }

  .entryHeader {
    margin-bottom: #{$half-spacing-unit}rem;
    padding: 0;
    border-bottom: 2px solid;
  }

  &.page-archive .entryHeader {

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      padding-bottom: #{$quarter-spacing-unit}rem;
    }
  }

  &.page-category .entryHeader {

    // start breakpoints
    @include breakpoint(all-mobile) {
      padding-bottom: #{$quarter-spacing-unit}rem;
    }
  }

  .entryTitle {
    float: left;
    margin: 0;
  }

  &.page-archive .entryTitle {

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      float: none;
    }
  }

  &.page-category .entryTitle {

    // start breakpoints
    @include breakpoint(all-mobile) {
      float: none;
    }
  }

  .entryMeta-header {
    float: right;
    margin-top: 1rem;
  }

  &.page-archive .entryMeta-header {

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      float: none;
      margin-top: 0;
    }
  }

  &.page-category .entryMeta-header {

    // start breakpoints
    @include breakpoint(all-mobile) {
      float: none;
      margin-top: 0;
    }
  }

  .entryMeta-header--categories {
    margin-left: #{$half-spacing-unit}rem;
  }

  .entryMeta-header--category {
    @extend %font-industry--demi;
    margin-right: #{$half-spacing-unit}rem;

    &:before {
      content: '\0023';
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 1px solid;
    }
  }

  .entryContent {
    margin-bottom: #{$base-spacing-unit}rem;
  }

  .entryContent-text {
    margin-bottom: #{$quarter-spacing-unit}rem;
  }

  .entryContent-link {
    @extend %font-industry--demi;
    @extend %small;
  }

  // -------------------------------------
  //  Footer
  // -------------------------------------

  .entryMeta-footer {
    margin-top: #{$double-spacing-unit}rem;
  }
}

