// ==========================================================================
//
//  Category
//  See _layouts/category-index.html
//
// ==========================================================================

.layout-category {

  .post {
    clear: both;
    @include rem(padding-top, $base-spacing-unit);
  }

  // -------------------------------------
  //  Primary
  // -------------------------------------

  .post-primary {
    overflow: hidden;
  }

  .entryTitle-category {
    @extend %entryHeader;
    @include rem(margin-bottom, $base-spacing-unit);
  }

  .entryHeader {
    @include rem(margin-bottom, $half-spacing-unit);
    border-bottom: 2px solid;
  }

  .entryTitle {
    float: left;
    @extend .gamma;
    margin: 0;

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      float: none;
      @include rem(margin-bottom, $quarter-spacing-unit);
    }
  }

  .entryMeta-header {
    float: right;

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      float: none;
    }
  }

  .entryContent {
    @include rem(margin-bottom, $double-spacing-unit);

    // start breakpoints
    @include breakpoint(desktop) {
      @include rem(margin-bottom, $triple-spacing-unit);
    }
  }

  .entryContent-text {
    @include rem(margin-bottom, $quarter-spacing-unit);
  }

  .entryContent-link {
    @extend small;
  }


  // -------------------------------------
  //  Secondary
  // -------------------------------------

  .post-secondary {
    float: left;
    margin: 0 3% 0 0;
    width: 15%;

    // start breakpoints
    @include breakpoint(smaller-than-small-desktop) {
      width: 20%;
    }
    @include breakpoint(mobile-portrait-to-mobile-landscape) {
      width: 25%;
    }
    @include breakpoint(small-mobile) {
      width: 30%;
    }
  }


  // -------------------------------------
  //  Image
  // -------------------------------------

  .category-image--link {
    display: block;

    &:hover {
      .category-image {
        img {
          transform: scale(1.05);

          // start breakpoints
          @include breakpoint(mobile-portrait-to-mobile-landscape) {
            transform: scale(1.025);
          }
        }
      }
    }
    &:focus {
      background-color: transparent; // to be more specific than .sitePrimary a:focus
      .category-image {
        img {
          background-color: $focus;
        }
      }
    }
  }

  .category-image {
    display: block;

    // image tag within .category-image
    img {
      display: block;
      padding: 3px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 0.2s, transform 0.2s;
    }

    // start breakpoints
    @include breakpoint(mobile-portrait-to-mobile-landscape) {
      @include rem(margin, 0 0 $base-spacing-unit);
    }
  }

  // -------------------------------------
  //  Footer
  // -------------------------------------

  .entryMeta-footer {
    @include rem(margin-top, $base-spacing-unit);
  }


  // -------------------------------------
  //  Paging Navigation
  // -------------------------------------

  .paging-navigation {
    @include rem(margin-bottom, $triple-spacing-unit);
  }

  .paging-next {
    float: right;
  }

  .paging-previous {
    float: left;
  }

  .paging-link {
    &:hover {
      border-bottom: 1px solid;
    }
  }

}

