// ==========================================================================
//
//  Category
//  See _layouts/category-index.html
//
// ==========================================================================

.layout-category {

  .post {
    clear: both;
    @include rem(padding-top, $base-spacing-unit);
  }

  .entryTitle-category {
    @extend %entryHeader;
    @include rem(margin-bottom, $base-spacing-unit);
  }

  .entryHeader {
    @include rem(margin-bottom, $half-spacing-unit);
    padding: 0;
    border-bottom: 2px solid;
  }

  .entryTitle {
    float: left;
    margin: 0;

    // start breakpoints
    @include breakpoint(all-mobile) {
      float: none;
      @include rem(margin-bottom, $quarter-spacing-unit);
    }
  }

  .entryMeta-header {
    float: right;
    @include rem(margin-top, 1);

    // start breakpoints
    @include breakpoint(all-mobile) {
      float: none;
      margin-top: 0;
    }
  }

  .entryContent {
    @include rem(margin-bottom, $base-spacing-unit);
  }

  .entryContent-text {
    @include rem(margin-bottom, $quarter-spacing-unit);
  }

  .entryContent-link {
    @extend small;
  }

  // -------------------------------------
  //  Footer
  // -------------------------------------

  .entryMeta-footer {
    @include rem(margin-top, $double-spacing-unit);
  }


  // -------------------------------------
  //  Paging Navigation
  // -------------------------------------

  .paging-navigation {
    @include rem(margin-bottom, $triple-spacing-unit);
  }

  .paging-next {
    float: right;
  }

  .paging-previous {
    float: left;
  }

  .paging-link {
    &:hover {
      border-bottom: 1px solid;
    }
  }

}

