// ==========================================================================
//
//  Details
//  See _layouts/post-detail.html, _includes/post-detail.html, and _includes/page-detail.html
//
// ==========================================================================

.entryHeader {
  @include rem(margin-bottom, $one-half-spacing-unit);
  @include rem(padding-bottom, $half-spacing-unit);
  text-transform: uppercase;
  border-bottom: 3px solid $black-light;
}

.entryDate {
  @include rem(padding, $eighth-spacing-unit);
  font-weight: $base-font-weight-bold;
}

.entryTitle {
  color: $black-light;
}

.entryLink {
  &:hover,
  &:focus {

    // accompanying unicode character
    .entryLink-character {
      color: inherit;
    }
  }
}

// accompanying unicode character
.entryLink-character {
  color: $white-darker;
}


// -------------------------------------
//  Entry content
// -------------------------------------

%entryContent-link {
  border-bottom: 1px solid;
  &:hover {
    border-bottom: none;
  }
}

.entryContent {
  @include rem(margin-bottom, $double-spacing-unit); // add space between .entryContent and .entryMeta-footer

  // inline links
  a {
    @extend %entryContent-link;
  }
}


// -------------------------------------
//  Entry footer
// -------------------------------------

// back to top link
.entryMeta-footer--backToTop {
  display: block;
  @extend .text-small;
}

// navigation arrows link
.entryMeta-navigation--link {
  display: block;
  position: fixed;
  top: 50%;
  color: $black-light;
  &:hover,
  &:focus {
    @include rem(padding, $quarter-spacing-unit);
    color: $white;
    background-color: $black-light;

    // navigation arrows text when :hover or :focus
    .entryMeta-navigation--link__text {
      position: static;
      visibility: visible;
      @include opacity(1);
    }

    // navigation arrows arrow when :hover or :focus
    .entryMeta-navigation--link__arrow {
      background-color: transparent;
    }

    // shared styles
    .entryMeta-navigation--link__text,
    .entryMeta-navigation--link__arrow {
      padding: 0;
    }
  }
  &:active {
    margin-top: 1px;
  }
  &.previous {
    left: 0;

    // navigation arrows text
    .entryMeta-navigation--link__text {
      @include rem(padding-right, $quarter-spacing-unit);
      -ms-transform: translateX(-200px);
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
    }
    &:hover,
    &:focus {

      // navigation arrows text
      .entryMeta-navigation--link__text {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  &.next {
    right: 0;

    // navigation arrows text
    .entryMeta-navigation--link__text {
      @include rem(padding-left, $quarter-spacing-unit);
      -ms-transform: translateX(200px);
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
    }
    &:hover,
    &:focus {

      // navigation arrows text
      .entryMeta-navigation--link__text {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}

// navigation arrows text
.entryMeta-navigation--link__text {
  position: absolute;
  visibility: hidden;
  @include opacity(0);
}

// navigation arrows arrow
.entryMeta-navigation--link__arrow {
  background-color: $white;
}

// shared styles
.entryMeta-navigation--link__text,
.entryMeta-navigation--link__arrow {
  display: inline-block;
  @include rem(padding, $quarter-spacing-unit);
}
