// ==========================================================================
//
//  Details
//  See _layouts/post-detail.html, _includes/post-detail.html, and _includes/page-detail.html
//
// ==========================================================================

.entry-header {
  @include rem(margin-bottom, $base-spacing-unit);
}

.entry-link {

  .page-home & { // when on front page
    color: inherit;
    &:hover {
      color: red;
    }
  }

  .layout-post & { // when normal post
    color: red;
    &:hover {
      color: blue;
    }
  }
}


// -------------------------------------
//  Entry content
// -------------------------------------

.entry-content {

  .layout-post & { // add space between .entry-content and .entry-meta-footer
    @include rem(margin-bottom, $double-spacing-unit);
  }
}


// -------------------------------------
//  Entry footer
// -------------------------------------

// back to top link
.entry-meta-footer--back-to-top {
  display: block;
  @extend %text--small;
}

// navigation arrows
.navigation-entry-meta-link {
  position: fixed;
  top: 50%;
  &.previous {
    left: 5px;
  }
  &.next {
    right: 5px;
  }
}
