// ==========================================================================
//
//  Details
//  See _layouts/post-detail.html, _includes/post-detail.html, and _includes/page-detail.html
//
// ==========================================================================

.entryHeader,
%entryHeader {
  @include rem(margin-bottom, $one-half-spacing-unit);
  @include rem(padding-bottom, $half-spacing-unit);
  text-transform: uppercase;
  border-bottom: 3px solid;
}

.entryDate {
  @include rem(padding, $eighth-spacing-unit);
  @extend %font-industry--demi;
}

.entryTitle {
  color: $black-light;
}

.entryLink {
  &:hover,
  &:focus {

    // accompanying character entity
    .entryLink-character {
      color: inherit;
    }
  }
}

// accompanying character entity
.entryLink-character {
  color: $white-darkest;
  transition: color 0.3s;
}


// -------------------------------------
//  Entry content
// -------------------------------------

.entryContent {
  @include rem(margin-bottom, $triple-spacing-unit); // add space between .entryContent and .entryMeta-footer

  // inline links
  a {
    @extend %link-border--bottom;
  }
}


// -------------------------------------
//  Entry footer
// -------------------------------------

.entryMeta-footer {
  @include rem(padding-top, $triple-spacing-unit); // might make sense to mirror .entry-content
  border-top: 2px solid;
}

// navigation arrows <nav> container
.entryMeta-navigation {
  position: relative;
  z-index: 2;

  // start breakpoints
  @include breakpoint(all-mobile) {
    display: none; // hide the left and right arrows on narrower viewports
  }
}

@keyframes animation-slide--left {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animation-slide--right {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

// navigation arrows link
.entryMeta-navigation--link {
  display: block;
  position: fixed;
  top: 50%;
  @extend %font-industry--medium;
  color: $black-light;
  pointer-events: none;
  &:hover,
  &.is-active {
    color: $white;

    // shared styles
    .entryMeta-navigation--link__text,
    .entryMeta-navigation--link__arrow {
      background-color: $black-light;
    }
  }
  &:focus {
    color: inherit;
    background-color: transparent !important; // override default :focus styles in _base.scss

    // shared styles
    .entryMeta-navigation--link__text,
    .entryMeta-navigation--link__arrow {
      background-color: $focus;
    }
  }
  &:focus,
  &:hover {

    // navigation arrows text when :hover or :focus
    .entryMeta-navigation--link__text {
      animation-fill-mode: both;
      animation-duration: 0.25s;
    }
  }
  &:hover {

    // navigation arrows text when :hover or :focus
    .entryMeta-navigation--link__text {
      animation-fill-mode: both;
      animation-duration: 0.25s;
    }
    // shared styles
    .entryMeta-navigation--link__text,
    .entryMeta-navigation--link__arrow {
      pointer-events: auto;
    }
  }
  &:hover,
  &:focus,
  &.is-active {

    // navigation arrows text when :hover, :focus, or .is-active via keyboard
    .entryMeta-navigation--link__text {
      @extend .visible;
    }
  }
  &:active {
    margin-top: 1px;
  }
  &.previous {
    left: 0;

    // navigation arrows text
    .entryMeta-navigation--link__text {
      @include rem(padding, $quarter-spacing-unit $half-spacing-unit $eighth-spacing-unit 0);
    }

    // navigation arrows arrow
    .entryMeta-navigation--link__arrow {
      @include rem(padding, $quarter-spacing-unit $sixteenth-spacing-unit $eighth-spacing-unit $quarter-spacing-unit);
    }

    &:hover,
    &:focus,
    &.is-active {

      // navigation arrows text
      .entryMeta-navigation--link__text {
        animation-name: animation-slide--left;
      }
    }
  }
  &.next {
    right: 0;

    // navigation arrows text
    .entryMeta-navigation--link__text {
      @include rem(padding, $quarter-spacing-unit 0 $eighth-spacing-unit $half-spacing-unit);
    }

    // navigation arrows arrow
    .entryMeta-navigation--link__arrow {
      float: right;
      @include rem(padding, $quarter-spacing-unit $quarter-spacing-unit $eighth-spacing-unit $sixteenth-spacing-unit);
    }

    &:hover,
    &:focus,
    &.is-active {

      // navigation arrows text
      .entryMeta-navigation--link__text {
        animation-name: animation-slide--right;
      }
    }
  }
}

// navigation arrows text
.entryMeta-navigation--link__text {
  z-index: 1;
  @extend .invisible;
  pointer-events: none;
}

// navigation arrows arrow
.entryMeta-navigation--link__arrow {
  z-index: 2; // needs to be above .entryMeta-navigation--link__text
  background-color: $white;
  pointer-events: auto;
}

// shared styles
.entryMeta-navigation--link__text,
.entryMeta-navigation--link__arrow {
  position: relative;
  float: left;
}

// posted on paragraph
.entryMeta-footer--posted {
  @include rem(margin-bottom, $double-spacing-unit);
  @extend %font-industry--medium__italic;
}

// posted on link
.entryMeta-footer--posted-link {
  @extend %link-border--bottom;
  @extend %citation-small--link;
}

// category the post is within
.entryMeta-footer--category {
  @extend %link-border--bottom;
  @extend %citation-small--link;
}

// back to top link
.entryMeta-footer--backToTop {
  @include rem(padding, $quarter-spacing-unit $quarter-spacing-unit $eighth-spacing-unit);
  @extend small;
  @extend %font-industry--medium;
  background-color: $white-darkest;
  transition: background-color 0.3s;
  &:hover {
    background-color: $gray-lightest;
  }
  &:active {
    @extend %link-active--depressed;
  }
}
