// ==========================================================================
//
//  Footer
//  See _includes/footer.html
//
// ==========================================================================


.siteFooter {
  @include rem(padding, $base-spacing-unit 0);

  // start breakpoints
  @include breakpoint(all-mobile) {
    @include rem(padding, $double-spacing-unit 6%);
  }
}


// -------------------------------------
//  Navigation & Footer Icons
// -------------------------------------

.footerNavigation {
  float: left;
}

.siteFooter-icons--list {
  float: right;
}

.footerNavigation,
.siteFooter-icons--list {
  @include rem(margin-bottom, $triple-spacing-unit);

  // start breakpoints
  @include breakpoint(all-mobile) {
    @include rem(margin-bottom, $double-spacing-unit);
  }
  @include breakpoint(middle-mobile) {
    float: none;
  }
}

.siteFooter-icons--item {
  @include rem(margin-left, $base-spacing-unit);

  &:first-child {
    margin-left: 0;
  }
}

.siteFooter-icons--link {
  display: block;
  @include rem(height, $base-spacing-unit);
  @include rem(width, $base-spacing-unit);
  line-height: 0;

  &:hover,
  &:focus {
    .siteFooter-icons--svg {
      transform: scale(1.1);
    }
  }
  &:hover {
    .siteFooter-icons--svg__path {
      fill: $black;
    }
  }
  &:focus {
    background-color: transparent !important; // override default :focus styles in _base.scss
    .siteFooter-icons--svg__path {
      fill: $focus;
    }
  }
}

.siteFooter-icons--svg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.siteFooter-icons--svg__path {
  fill-rule: evenodd;
  fill: $black-light;
  transition: fill 0.2s;
}


// -------------------------------------
//  Tagline
// -------------------------------------

.siteFooter-tagline--link {
  display: block;
  width: 250px;
  @include rem(margin, $triple-spacing-unit auto 0);
  line-height: 0;

  &:active {
    @extend %link-active--depressed;
  }

  // start breakpoints
  @include breakpoint(all-mobile) {
    margin-top: 0;
  }
}

.siteFooter-tagline {
  height: 100%;
}
