// ==========================================================================
//
//  Footer
//  See _includes/footer.html
//
// ==========================================================================


.siteFooter {
  padding: #{$base-spacing-unit}rem 0;

  // start breakpoints
  @include breakpoint(all-mobile) {
    padding: #{$double-spacing-unit}rem 6%;
  }
}

.footerNavigation {
  margin-bottom: #{$double-spacing-unit}rem;
}

.siteFooter-tagline--link {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 25px;
  line-height: 0;

  &:active {
    @extend %link-active--depressed;
  }
}

.siteFooter-tagline {
  height: 100%;
  width: 100%;
}
