// ==========================================================================
//
//  Header
//  See _includes/header.html
//
// ==========================================================================


// -------------------------------------
//  Container
// -------------------------------------

.site-container {
  max-width: 94%;

  @include breakpoint(extra-large-desktop) {
    margin: 0 auto;
    max-width: 1601px;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    max-width: 100%;
  }
}


// -------------------------------------
//  Header
// -------------------------------------

.site-header {
  padding: 2.5% 0 2.5% 6%;

  @include breakpoint(extra-large-desktop) {
    padding: 2.5% 0;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    padding: 2.5% 6%;
  }
}


// -------------------------------------
//  Navigation
// -------------------------------------

.navigation-header {
  float: right;
}


// -------------------------------------
//  Content
// -------------------------------------

.site-content {

}
