// ==========================================================================
//
//  Header
//  See _includes/header.html
//
// ==========================================================================


// -------------------------------------
//  Browse Happy
// -------------------------------------

.browseHappy-container {
  padding: 12px 12px 16px;
  font-weight: $base-font-weight-bold;
  background-color: $yellow;
}

.browseHappy-link {
  border-bottom: 1px solid;

  &:hover,
  &:focus {
    border-bottom: none;
  }
}


// -------------------------------------
//  Scaffolding
// -------------------------------------

.siteScaffolding {
  margin: 0 auto;
  max-width: 90%;

  // start breakpoints
  @include breakpoint(desktop) {
    max-width: 1281px;
  }

  @include breakpoint(all-mobile) {
    margin: 0;
    max-width: 100%;
  }
}


// -------------------------------------
//  Header
// -------------------------------------

.siteHeader {
  @include rem(margin-bottom, $double-spacing-unit);
  @include rem(padding, $double-spacing-unit 0);
  background-color: $white;

  // start breakpoints
  @include breakpoint(all-mobile) {
    margin: 0;
    @include rem(padding, $double-spacing-unit 6%);
  }
}

.siteHeader-inner {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.siteHeader-primary {
  width: 40%;

  // start breakpoints
  @include breakpoint(smaller-than-small-desktop) {
    width: 50%;
  }
  @include breakpoint(all-mobile) {
    width: 50%;
  }
}

.siteHeader-secondary {
  text-align: right;
}

.siteHeader-primary,
.siteHeader-secondary {
  display: table-cell;
  vertical-align: middle;

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

// -------------------------------------
//  Logo
// -------------------------------------

.siteLogo {
  display: block;
  line-height: 0;

  &:hover {

    .siteLogo-ohio {
      fill: $black-light;
    }
  }

  &:active {
    @extend %link-active--depressed;
  }

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(margin-bottom, $base-spacing-unit);
  }
}

.siteLogo-svg,
.siteLogo-tagline--svg {
  height: 100%;
}

.siteLogo-fill {
  fill: $black-light;
}

.siteLogo-ohio {
  fill: $white-darkest;
  transition: fill 0.3s;
}

.siteLogo-fill--inverse {
  fill: $white;
}

.siteLogo-stroke {
  stroke: $black-light;
}

.siteLogo-svg {

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    display: none;
    visibility: hidden;
  }
}

.siteLogo-tagline--svg {
  @extend .hidden;

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    visibility: visible;
    display: inherit;
  }
}


// -------------------------------------
//  Navigation
// -------------------------------------

.navigation-item {
  @include rem(margin-left, $base-spacing-unit);
  text-transform: uppercase;
  @extend %font-industry--demi;

  .mainNavigation & {
    margin-top: 4px; // to balance the border-bottom in .navigation-link

    // start breakpoints
    @include breakpoint(mobile-portrait-to-mobile-landscape) {
      margin-top: 0;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}

.navigation-link {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  &:hover {
    border-bottom: 2px solid;
  }
  &:active {
    @extend %link-active--depressed;
  }

  // current page
  &.is-current {
    @extend .navigation-link:hover;
    cursor: text;
  }
}


// -------------------------------------
//  Main
// -------------------------------------

.siteMain {
  @include rem(margin-bottom, $double-spacing-unit);
  background-color: $white;
}
