// ==========================================================================
//
//  Header
//  See _includes/header.html
//
// ==========================================================================

// -------------------------------------
//  Browse Happy
// -------------------------------------

.browse-happy {
  padding: 8px 0 16px;
  background-color: $yellow;
}


// -------------------------------------
//  Container
// -------------------------------------

.site-container {
  margin: 0 auto;
  max-width: 90%;

  // start breakpoints
  @include breakpoint(desktop) {
    max-width: 1281px;
  }

  @include breakpoint(all-mobile) {
    margin: 0;
    max-width: 100%;
  }
}


// -------------------------------------
//  Header
// -------------------------------------

.site-header--outer {
  @include rem(padding, $double-spacing-unit 6%);
}

.site-header--inner {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.site-header--primary {
  display: table-cell;
  width: 33.34%;

  // start breakpoints
  @include breakpoint(smaller-than-small-desktop) {
    width: 41.67%;
  }
  @include breakpoint(all-mobile) {
    width: 50%;
  }
}

.site-header--secondary {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.site-header--primary,
.site-header--secondary {

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

// -------------------------------------
//  Logo
// -------------------------------------

.site-logo {
  @extend %FlexEmbed;
  display: block;
  padding-bottom: 30.22%; // this needs to be the logo ratio

  &:active {
    @include relative(top 1px);
  }

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(margin-bottom, $base-spacing-unit);
  }
}

.site-logo--image {
  @extend %FlexEmbed-item;
  background: url("../images/site-logo--image.png") no-repeat;
  background-size: cover;
}


// -------------------------------------
//  Navigation
// -------------------------------------

.main-navigation--item {
  @include rem(margin-left, $base-spacing-unit);
  font-weight: $base-font-weight-bold;
  text-transform: uppercase;
}

.main-navigation--link {
  padding: 0 0 3px;
  color: $black-lighter;
  &:hover,
  &:focus {
    color: $black-light;
    border-bottom: 2px solid $gray-lighter;
  }
  &:active {
    @include relative(top 1px);
  }

  // current page
  &.is-current {
    color: $black-light;
    border-bottom: 2px solid $gray-lighter;
  }
}


// -------------------------------------
//  Content
// -------------------------------------

.site-content {
  background-color: $primary-background;
  box-shadow: #{$quarter-spacing-unit}rem #{$quarter-spacing-unit}rem 0 $gray-lightest;
}
