// ==========================================================================
//
//  Secondary
//  See _includes/sidebar.html
//
// ==========================================================================


.siteSecondary {
  @include rem(padding, $double-spacing-unit 6%);
  color: $white;
  background: $black-light;
}


// -------------------------------------
//  Heading
// -------------------------------------

.sidebar-heading {
}

.sidebar-heading--top {
  @extend %hidden;

  // start breakpoints
  @include breakpoint(mobile-landscape-to-tablet-portrait) {
    display: block;
    visibility: visible;
  }
}

.sidebar-heading--bottom {
  margin-top: 0;

  // start breakpoints
  @include breakpoint(mobile-landscape-to-tablet-portrait) {
    display: none;
    visibility: hidden;
  }
}

.sidebar-heading--url {
}

.sidebar-title {
}

.sidebar-organization {
}

// -------------------------------------
//  Description
// -------------------------------------

.sidebar-description {
  overflow: hidden; // create new block formatting context so text doesn’t wrap under .sidebar-figure

  // start breakpoints
  @include breakpoint(smaller-than-small-desktop) {
    margin-bottom: 0;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    @include rem(margin-bottom, $base-spacing-unit);
  }
}


// -------------------------------------
//  Image
// -------------------------------------

.sidebar-figure {
  float: left;
  width: 25%;
  @include rem(margin-right, $base-spacing-unit);

  // start breakpoints
  @include breakpoint(tablet-portrait-to-small-desktop) {
    width: 30%;
  }

  @include breakpoint(mobile-landscape-to-tablet-portrait) {
    width: 36%;
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    float: none;
    width: 100%;
    margin-right: 0;
    @include rem(margin-bottom, $base-spacing-unit);
  }
}

.sidebar-image {
  @include rem(margin-bottom, $quarter-spacing-unit);
}

.sidebar-figcaption {
  @extend %text-small;
  font-style: italic;
}

.sidebar-credit--text {
  font-style: normal
}

.sidebar-credit--url {
}


// -------------------------------------
//  Links list
// -------------------------------------

.sidebar-links--list {

  // start breakpoints
  @include breakpoint(smaller-than-small-desktop) {
    clear: both;
    float: left;
    @include rem(margin-top, $base-spacing-unit);
    width: 100%;
  }
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    margin-top: 0;
    width: auto;
  }
}

.sidebar-links--item {
}

.sidebar-links--url {
}
