// ==========================================================================
//
//  Secondary
//  See _includes/sidebar.html
//
// ==========================================================================


.site-secondary {
  float: left;
  width: 34%;
  padding: 2.5% 0 2.5% 3%;

  @include breakpoint(all-mobile) {
    float: none;
    width: 100%;
    padding: 5% 6%;
  }
}

.site-sidebar {
}
