// ==========================================================================
//
//  Base
//
// ==========================================================================


// Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
*,
*:before,
*:after {
  box-sizing: border-box;
}

// 1. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
// 2. Remove webkit tap highlight color
//    http://davidwalsh.name/mobile-highlight-color
html {
  overflow-y: scroll;
  font: #{($base-font-size/16px)*100%}/#{$line-height-ratio} $base-font-family; // 16px
  -webkit-text-size-adjust: 100%; // 1
  text-size-adjust: 100%; // 1
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 2

  // http://svgeneration.com/generate/Diagonal-Stripes?scale=10&stripe=e8e7e5&stripe-width=.5&background=ffffff&
  background-color: $white;
  // background-image: url("../images/background-base.svg");
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJPHJlY3Qgd2lkdGg9JzExMCUnIHg9Jy01JScgeT0nLTUlJyBoZWlnaHQ9JzExMCUnIGZpbGw9JyNmZmZmZmYnLz4KCTxsaW5lIHgxPSctMicgeTE9JzEnIHgyPSc3JyB5Mj0nMTAnIHN0cm9rZT0nI2U4ZTdlNScgc3Ryb2tlLXdpZHRoPScuNScvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nNicgeDI9JzcnIHkyPScxNScgc3Ryb2tlPScjZThlN2U1JyBzdHJva2Utd2lkdGg9Jy41Jy8+Cgk8bGluZSB4MT0nLTInIHkxPSctNCcgeDI9JzcnIHkyPSc1JyBzdHJva2U9JyNlOGU3ZTUnIHN0cm9rZS13aWR0aD0nLjUnLz4KPC9zdmc+");

  // browsers that don’t support SVG get the PNG and the extra HTTP request. Tough!
  &.no-svg {
    background-image: url("../images/background-base.png");
    // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAMAAACDMFxkAAAABlBMVEX////o5+UzbCG6AAAAFklEQVQI12NgAAJGBgQgnU2ZbhraBgAJdAAVnEivmgAAAABJRU5ErkJggg==);
  }

  // start breakpoints
  @include breakpoint(desktop) {
    font-size: 106.25%; // 17px
  }
  @include breakpoint(large-desktop) {
    font-size: 112.5%; // 18px
  }
  @include breakpoint(extra-large-desktop) {
    font-size: 118.75%; // 19px
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $line-height-ratio;
  color: $black-light;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::selection {
  background: $yellow;
  text-shadow: none;
}


// -------------------------------------
//  Block Content
// -------------------------------------

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: $base-font-weight-bold;
}

h1,
.alpha {
  @include vertical-rhythm($h1-size, 30px, 18px);
}

h2,
.beta {
  @include vertical-rhythm($h2-size, 32px, 16px);
}

h3,
.gamma {
  @include vertical-rhythm($h3-size, 32px, 16px);
}

h4,
.delta {
  @include vertical-rhythm($h4-size, 32px, 16px);
}

h5,
.epsilon {
  @include vertical-rhythm($h5-size, 34px, 14px);
}

h6,
.zeta {
  @include vertical-rhythm($h6-size, 34px, 14px);
}

// Paragraphs and lists
p,
ul,
ol {
  @include vertical-rhythm($base-font-size, 0, $base-spacing-unit);
}

.lede {
  @include vertical-rhythm($h4-size, 0, $base-spacing-unit, 1.5);
}

.lede-location {
  text-transform: uppercase;
}

.question {
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  padding: 0;
  @include rem(margin-left, $base-spacing-unit);
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
}

// No top margins on first children or bottom margins on last children
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre,
.grid {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// No margins on nested elements
li {
  p,
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}


// -------------------------------------
//  Inline Content
// -------------------------------------

// 1. Improves readability when focused and also mouse hovered in all browsers
a {
  color: inherit;
  text-decoration: none;
  &:focus {
    .siteHeader &,
    .sitePrimary &,
    .siteFooter & {
      transition: background-color 0.3s;
      background-color: $focus;
    }
    .siteSecondary & {
      transition: color 0.3s;
      color: $focus;
    }
  }
  &:hover,
  &:focus,
  &:active { // 1
    outline: 0;
  }
}

// Font weights
b,
strong,
th {
  font-weight: $base-font-weight-bold;
}

// Font styles
cite,
em,
i {
  font-style: italic;
}

// Corrects font family set oddly in IE6, S4/5, Chrome
// en.wikipedia.org/wiki/User:Davidgothberg/Test59
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

strike,
s,
del {
  text-decoration: line-through;
  text-shadow: none;
}

// Improves readability of pre-formatted text in all browsers
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Quote styles
blockquote {
  margin: 0;
  @include vertical-rhythm($base-font-size, 0, $base-spacing-unit);
}

.quote {
}

.quote-big {
}

.citation-small {
  @extend small;
  font-style: italic;
}

.citation-small--link {
  font-style: normal;
}

// Set consistent quote types.
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  &:before,
  &:after { // Addresses quote property not supported in S4
    content: '';
    content: none;
  }
}

// Address inconsistent and variable font size in all browsers.
small {
  font-size: 80%;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
