// ==========================================================================
//
//  Base
//
// ==========================================================================


// Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
picture,
section,
summary {
  display: block;
}

// apply a natural box layout model to all elements via http://paulirish.com/2012/box-sizing-border-box-ftw/
// universal selector doesn't apply to pseudo-elements, so: http://jsfiddle.net/grewis/nHaxL/4/
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  font: #{($base-font-size/16px)*118.75%}/#{$line-height-ratio} $base-font-family; // 19px
  // Prevents iOS text size adjust after orientation change, without disabling user zoom
  // www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
  text-size-adjust: 100%; // scss-lint:disable PropertySpelling

  // http://svgeneration.com/generate/Diagonal-Stripes?scale=10&stripe=e8e7e5&stripe-width=.5&background=ffffff&
  background-color: $white;
  // background-image: url("../images/background-base.svg");
  // http://css-tricks.com/probably-dont-base64-svg/
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2220%22%20viewBox%3D%220%200%205%2010%22%3E%0A%09%3Crect%20width%3D%22110%25%22%20x%3D%22-5%25%22%20y%3D%22-5%25%22%20height%3D%22110%25%22%20fill%3D%22%23ffffff%22%2F%3E%0A%09%3Cline%20x1%3D%22-2%22%20y1%3D%221%22%20x2%3D%227%22%20y2%3D%2210%22%20stroke%3D%22%23e8e7e5%22%20stroke-width%3D%22.5%22%2F%3E%0A%09%3Cline%20x1%3D%22-2%22%20y1%3D%226%22%20x2%3D%227%22%20y2%3D%2215%22%20stroke%3D%22%23e8e7e5%22%20stroke-width%3D%22.5%22%2F%3E%0A%09%3Cline%20x1%3D%22-2%22%20y1%3D%22-4%22%20x2%3D%227%22%20y2%3D%225%22%20stroke%3D%22%23e8e7e5%22%20stroke-width%3D%22.5%22%2F%3E%0A%3C%2Fsvg%3E');

  // start breakpoints
  @include breakpoint(desktop) {
    font-size: 125%; // 20px
  }

  @include breakpoint(smaller-than-small-desktop) {
    font-size: 112.5%; // 18px
  }

  @include breakpoint(all-mobile) {
    font-size: 106.25%; // 17px
  }

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    font-size: 100%; // 16px
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  counter-reset: aside; // for our .aside counter
}

body,
button,
input,
select,
textarea {
  @extend %font-vollkorn--regular;
  line-height: $line-height-ratio;
  color: $black-light;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate.
// Customize the background color to match your design.
::selection {
  background: $yellow;
  text-shadow: none;
}


// -------------------------------------
//  Block Content
// -------------------------------------

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-industry--bold;
  clear: both;
  padding: 0;
}

h1,
%alpha {
  @include vertical-rhythm($h1-size, 30px, 18px);
}

h2,
%beta {
  @include vertical-rhythm($h2-size, 32px, 16px);
}

h3,
%gamma {
  @include vertical-rhythm($h3-size, 32px, 16px);
}

h4,
%delta {
  @include vertical-rhythm($h4-size, 32px, 16px);
}

h5,
%epsilon {
  @include vertical-rhythm($h5-size, 34px, 14px);
}

h6,
%zeta {
  @include vertical-rhythm($h6-size, 34px, 14px);
}

// Paragraphs and lists
p,
ul,
ol {
  @include vertical-rhythm($base-font-size, 0, $base-spacing-unit);
}

.lede {
  @extend %font-industry--medium;
  @include vertical-rhythm($h4-size, 0, $base-spacing-unit, 1.5);

  strong {
    @extend %font-industry--demi;
  }
}

.lede-location {
  text-transform: uppercase;
}

.question {
  @extend %font-industry--demi__italic;
  margin-bottom: 0;

  strong { // this seems counter-intuitive, but it’s to ensure feed readers emphasis the question text
    font-family: inherit;
    font-weight: normal;
  }

  &+.question {
    margin-top: #{$base-spacing-unit}rem;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  padding: 0;
  margin-left: #{$base-spacing-unit}rem;
}

.list-unstyled,
%list-unstyled {
  margin-left: 0;
  list-style: none;
}

.list-inline {
  @extend %list-unstyled;

  > li {
    display: inline-block;
    vertical-align: middle;
  }
}

// No top margins on first children or bottom margins on last children
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre {

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// No margins on nested elements
li {

  p,
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}


// -------------------------------------
//  Inline Content
// -------------------------------------

// 1. Improves readability when focused and also mouse hovered in all browsers
a {
  color: inherit;
  text-decoration: none;

  &:focus {

    .siteHeader &,
    .sitePrimary &,
    .siteFooter & {
      transition: background-color 0.3s;
      background-color: $focus;
    }

    .siteSecondary & {
      transition: color 0.3s;
      color: $focus;
    }
  }

  &:hover,
  &:focus,
  &:active { // 1
    outline: 0;
  }
}

// Font weights
b,
strong,
th {
  @extend %font-vollkorn--semibold;

  em {
    @extend %font-vollkorn--semibold__italic;
  }
}

// Font styles
cite,
em,
i {
  @extend %font-vollkorn--regular__italic;

  strong {
    @extend %font-vollkorn--semibold__italic;
  }
}

// Corrects font family set oddly in IE6, S4/5, Chrome
// en.wikipedia.org/wiki/User:Davidgothberg/Test59
code,
pre {
  font-family: monospace, serif;
  font-size: 1em;
}

strike,
s,
del {
  text-decoration: line-through;
  text-shadow: none;
}

// Improves readability of pre-formatted text in all browsers
pre {
  white-space: pre-wrap;
}

// Quote styles
blockquote {
  margin: 0;
}

.quote {
  @include vertical-rhythm($base-font-size, 0, $one-half-spacing-unit);
}

.quote-text {
  @extend %delta;
  @extend %font-industry--bold;
}

.quote-full {
  position: relative;
  margin-top: #{$one-half-spacing-unit}rem;
  padding: #{$base-spacing-unit}rem;
  text-align: center;

  &:before,
  &:after {
    @include absolute(left 43.75%);
    content: '';
    width: 12.5%;

    // start breakpoints
    @include breakpoint(mobile-portrait-to-mobile-landscape) {
      @include absolute(left 0);
      width: 100%;
    }
  }

  &:before {
    top: 0;
    border-top: 2px solid $white-darkest;
  }

  &:after {
    bottom: 0;
    border-bottom: 2px solid $white-darkest;
  }
}

.quote-small {
  padding: #{$half-spacing-unit}rem #{$base-spacing-unit}rem;
  border-left: 2px solid $white-darkest;

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    padding: #{$base-spacing-unit}rem;
    border-left: 0;

    // copied from .quote-full
    text-align: center;
    border-top: 2px solid $white-darkest;
    border-bottom: 2px solid $white-darkest;
  }
}

.citation-small {
  @extend %small;
  @extend %font-industry--medium__italic;

  &:before {
    content: '\2015\00A0';
  }
}

.citation-small--link,
%citation-small--link {
  @extend %font-industry--medium;
}

// asides
.aside {
  @extend %font-industry--medium__italic;
  width: 25%;
  color: $black-lightest;

  // start breakpoints
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    width: 100%;
  }
}

.aside-marker {
  @extend %font-industry--bold;
  display: none; // initially hide

  // start breakpoints
  @include breakpoint(all-mobile) { // and then display .aside-marker
    display: inline;
  }

  &:before {
    content: '\005B';
  }

  &:after {
    content: '\005D';
  }

  // since the markup is copied from the .footnotes li, apply styles only when immediately after .aside-marker
  &+.aside-left {
    float: right;
    margin: #{$base-spacing-unit}rem 0 #{$base-spacing-unit}rem #{$base-spacing-unit}rem;
  }

  &+.aside-right {
    float: left;
    margin: #{$base-spacing-unit}rem #{$base-spacing-unit}rem #{$base-spacing-unit}rem 0;
  }

  &+.aside {

    // start breakpoints
    @include breakpoint(all-mobile) {
      display: none; // Hide copied asides on mobile
    }

    &+.footnotes-link--wrapper {

      // start breakpoints
      @include breakpoint(all-mobile) {
        display: none; // Hide copied footnotes link arrow ↑
      }
    }
  }

}

.aside-marker--link {
  padding: 0 #{$eighth-spacing-unit}rem;

  &:hover {
    text-decoration: underline;
  }
}

// at the bottom of the post
.footnotes {
  @extend %font-industry--medium;
  display: none; // initially hide
  color: $black-lightest;

  // start breakpoints
  @include breakpoint(all-mobile) {
    display: block;
  }
}

.footnotes-item {
  margin-bottom: #{$base-spacing-unit}rem;
}

.footnotes-link {

  .entryContent & { // for the sake of being more specific :(
    display: none; // initially hide
    border-bottom: 0;
    transition: color 0.3s;

    // start breakpoints
    @include breakpoint(all-mobile) { // and then display .footnotes-link
      display: inline;
    }

    &:hover,
    &:focus {
      color: $black-light;
    }
  }
}

// Address inconsistent and variable font size in all browsers.
small,
%small {
  font-size: 80%;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
