// ==========================================================================
//
//  Fonts
//
// ==========================================================================


// -------------------------------------
//  Industry
//
//  Vendor:      Hold Fast Foundry
//  URL:         http://holdfastfoundry.com/shop/industry/
//  License URL: http://www.fontspring.com/fflicense/hold-fast-foundry
// -------------------------------------

// Industry Medium
%font-industry--medium {
  font-family: 'industrymedium', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Industry Medium Italic
%font-industry--medium__italic {
  font-family: 'industrymedium_italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Industry Demi
%font-industry--demi {
  font-family: 'industrydemi', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Industry Demi Italic
%font-industry--demi__italic {
  font-family: 'industrydemi_italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Industry Bold
%font-industry--bold {
  font-family: 'industrybold', sans-serif;
  font-weight: normal;
  font-style: normal;
}


// -------------------------------------
//  Vollkorn
//
//  Vendor: Friedrich Althausen
//  URL:    http://vollkorn-typeface.com/
// -------------------------------------

// Vollkorn Regular
%font-vollkorn--regular {
  font-family: 'vollkornregular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Vollkorn Regular Italic
%font-vollkorn--regular__italic {
  font-family: 'vollkornregular_italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Vollkorn Semibold
%font-vollkorn--semibold {
  font-family: 'vollkornsemibold', sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Vollkorn Semibold Italic
%font-vollkorn--semibold__italic {
  font-family: 'vollkornsemibold_italic', sans-serif;
  font-weight: normal;
  font-style: normal;
}
