// ==========================================================================
//
//  Layout
//
// ==========================================================================


// -------------------------------------
//  Grid
// -------------------------------------

.grid {
  @extend %clearfix;
  margin: 0 -#{$half-spacing-unit}rem #{$base-spacing-unit}rem;
}

%grid-unit {
  float: left;
  padding: 0 #{$half-spacing-unit}rem;

  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    float: none;
    width: 100% !important; // to overwrite the cascade
    margin-top: #{$base-spacing-unit}rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.grid--3-4 {
  @extend %grid-unit;
  width: 75%;
}

.grid--2-3 {
  @extend %grid-unit;
  width: 66.666%;
}

.grid--1-3 {
  @extend %grid-unit;
  width: 33.333%;
}

.grid--1-2 {
  @extend %grid-unit;
  width: 50%;
}

.grid--1-4 {
  @extend %grid-unit;
  width: 25%;
}

.grid--1-8 {
  @extend %grid-unit;
  width: 12.5%;
}

// Classes to collapse the grid. By default the grid collapses
// on mobile-portrait-to-mobile-landscape (max-width: 479px)
.collapse--tablet-portrait-to-small-desktop {

  [class^='grid-'] {
    @include breakpoint(tablet-portrait-to-small-desktop) {
      float: none;
      width: 100%;
      margin-top: #{$base-spacing-unit}rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.collapse--all-mobile {

  [class^='grid-'] {
    @include breakpoint(all-mobile) {
      float: none;
      width: 100%;
      margin-top: #{$base-spacing-unit}rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.collapse--mobile-landscape-to-tablet-portrait {

  [class^='grid-'] {
    @include breakpoint(mobile-landscape-to-tablet-portrait) {
      float: none;
      width: 100%;
      margin-top: #{$base-spacing-unit}rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}


// -------------------------------------
//  Floats
// -------------------------------------

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
