// ==========================================================================
//
//  Layout
//
// ==========================================================================


// -------------------------------------
//  Grid
// -------------------------------------

.grid {
  @extend %clearfix;
  @include rem(margin, 0 (-$half-spacing-unit) $base-spacing-unit);
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    margin-bottom: 0;
  }
}

%grid-unit {
  float: left;
  @include rem(padding, 0 $half-spacing-unit);
  @include breakpoint(mobile-portrait-to-mobile-landscape) {
    float: none;
    width: 100% !important; // to thwart the cascade
    @include rem(margin-bottom, $base-spacing-unit);
  }
}

.grid-3-4 {
  @extend %grid-unit;
  width: 75%;
}

.grid-2-3 {
  @extend %grid-unit;
  width: 66.666%;
}

.grid-1-3 {
  @extend %grid-unit;
  width: 33.333%;
}

.grid-1-2 {
  @extend %grid-unit;
  width: 50%;
}

.grid-1-4 {
  @extend %grid-unit;
  width: 25%;
}

.grid-1-8 {
  @extend %grid-unit;
  width: 12.5%;
}

// -------------------------------------
//  Container
// -------------------------------------

.container {
}

// -------------------------------------
//  Floats
// -------------------------------------

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
