// ==========================================================================
//
//  Variables
//
// ==========================================================================


// -------------------------------------
//  Debug
// -------------------------------------

$debug: false;


// -------------------------------------
//  Colors
//  http://sassme.arc90.com/
// -------------------------------------

// Primary colors
$red:             #dc220d;
$yellow:          #fddd00;
$blue:            #1e2154;

// White through black with 1% $yellow for good measure
$white:           #fff;
$white-dark:      mix($yellow, darken($white, 3), 1%);    // #f7f7f7, #f7f6f4
$white-darker:    mix($yellow, darken($white, 6), 1%);    // #f0f0f0, #f0efed
$white-darkest:   mix($yellow, darken($white, 9), 1%);    // #e8e8e8, #e8e7e5
$gray-lightest:   mix($yellow, darken($white, 12), 1%);   // #e0e0e0, #e0dfdd
$gray-lighter:    mix($yellow, darken($white, 18), 1%);   // #d1d1d1, #d1d1ce
$gray-light:      mix($yellow, darken($white, 24), 1%);   // #c2c2c2, #c2c2c0
$gray:            mix($yellow, darken($white, 30), 1%);   // #b3b3b3, #b3b3b1
$gray-dark:       mix($yellow, darken($white, 36), 1%);   // #a3a3a3, #a3a3a1
$gray-darker:     mix($yellow, darken($white, 42), 1%);   // #949494, #959492
$gray-darkest:    mix($yellow, darken($white, 48), 1%);   // #858585, #868583
$black-lightest:  mix($yellow, darken($white, 60), 1%);   // #666666, #676764
$black-lighter:   mix($yellow, darken($white, 72), 1%);   // #474747, #484846
$black-light:     mix($yellow, darken($white, 84), 1%);   // #292929, #2b2a28
$black:           darken($white, 100);  // #000000


// -------------------------------------
//  Scaffolding
// -------------------------------------

$base-background: $white-darker;
$base-color: $black-light;

// primary content area
$primary-background: $white;

// secondary content area
$secondary-background: $black-light;
$secondary-color: $white;

// -------------------------------------
//  Links
// -------------------------------------

$base-link-color: $red;
$base-link-color-hover: blue;
$base-link-color-focus: $yellow;


// -------------------------------------
//  Typography
// -------------------------------------

$base-font-size:    16px;
$base-line-height:  24px;

$base-font-family: 'Lato', sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-spacing-unit: 1.5;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;
$eighth-spacing-unit: $base-spacing-unit / 8;
$one-half-spacing-unit: $base-spacing-unit * 1.5;
$double-spacing-unit: $base-spacing-unit * 2;
$triple-spacing-unit: $base-spacing-unit * 3;
$quadruple-spacing-unit: $base-spacing-unit * 4;

$line-height-ratio: $base-line-height / $base-font-size;


// -------------------------------------
//  Fonts
// -------------------------------------

$giga-size:   96px;
$mega-size:   72px;
$kilo-size:   48px;

$h1-size:     36px; // .alpha
$h2-size:     30px; // .beta
$h3-size:     24px; // .gamma
$h4-size:     20px; // .delta
$h5-size:     16px; // .epsilon
$h6-size:     14px; // .zeta

$milli-size:  12px;
$micro-size:  10px;
