// ==========================================================================
//
//  Variables
//
// ==========================================================================


// -------------------------------------
//  Debug
// -------------------------------------

$debug: false;


// -------------------------------------
//  Colors
//  http://sassme.arc90.com/
// -------------------------------------

$yellow:          #fddd00;
$red:             #dc220d;

// White through black
$white:           #fff;
$white-dark:      darken($white, 3);    // #f7f7f7,
$white-darker:    mix($yellow, darken($white, 6), 3%);    // #f0f0f0, #f7f7f7
$white-darkest:   mix($yellow, darken($white, 9), 3%);    // #e8e8e8, #e8e7e1
$gray-lightest:   mix($yellow, darken($white, 12), 3%);   // #e0e0e0, #e0dfd9
$gray-lighter:    mix($yellow, darken($white, 18), 3%);   // #d1d1d1, #d2d1ca
$gray-light:      mix($yellow, darken($white, 24), 3%);   // #c2c2c2, #c3c2bc
$gray:            mix($yellow, darken($white, 30), 3%);   // #b3b3b3, #b5b4ad
$gray-dark:       mix($yellow, darken($white, 36), 3%);   // #a3a3a3, #a5a49e
$gray-darker:     mix($yellow, darken($white, 42), 3%);   // #949494, #97968f
$gray-darkest:    mix($yellow, darken($white, 48), 3%);   // #858585, #888781
$black-lightest:  mix($yellow, darken($white, 60), 3%);   // #666666, #6a6962
$black-lighter:   mix($yellow, darken($white, 72), 3%);   // #474747, #4c4b44
$black-light:     mix($yellow, darken($white, 84), 3%);   // #292929, #2f2e27
$black:           darken($white, 100);  // #000000


// -------------------------------------
//  Scaffolding
// -------------------------------------

$base-background: $white;
$base-color: $black-light;

$background-primary: $white;
$background-secondary: $black-light;

$secondary-color: $white;

// -------------------------------------
//  Links
// -------------------------------------

$base-link-color: red;
$base-link-color-hover: blue;
$base-link-color-focus: green;


// -------------------------------------
//  Typography
// -------------------------------------

$base-font-size:    16px;
$base-line-height:  24px;

$base-font-family: 'Lato', sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-spacing-unit: 1.5;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;
$eighth-spacing-unit: $base-spacing-unit / 8;
$double-spacing-unit: $base-spacing-unit * 2;

$line-height-ratio: $base-line-height / $base-font-size;


// -------------------------------------
//  Fonts
// -------------------------------------

$giga-size:   96px;
$mega-size:   72px;
$kilo-size:   48px;

$h1-size:     36px; // .alpha
$h2-size:     30px; // .beta
$h3-size:     24px; // .gamma
$h4-size:     20px; // .delta
$h5-size:     16px; // .epsilon
$h6-size:     14px; // .zeta

$milli-size:  12px;
$micro-size:  10px;
