      </div> <!-- #content .site-content .clearfix -->

      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info text--center clearfix">

          <nav id="colophon-navigation" class="navigation nav-footer" role="navigation">
            <ul class="footer-nav--list list--inline">
              <li class="footer-nav--item">
                <a class="footer-nav--link {% if page.title == 'About' %}is-current{% endif %}" href="{{ site.baseurl }}/about/">About</a>
              </li>
              <li class="footer-nav--item">
                <a class="footer-nav--link {% if page.title == 'Colophon' %}is-current{% endif %}" href="{{ site.baseurl }}/colophon/">Colophon</a>
              </li>
              <li class="footer-nav--item">
                <a class="footer-nav--link {% if page.title == 'Archive' %}is-current{% endif %}" href="{{ site.baseurl }}/archive/">Archive</a>
              </li>
            </ul>
          </nav><!-- #colophon-navigation .navigation .nav-footer -->

          <ul class="site-footer-icons--list list--inline">
            <li class="site-footer-icons--item">
              <a class="site-footer-icons--link site-footer-icon icon-twitter" href="http://twitter.com/{{ site.twitter }}" title="Follow us on Twitter">
                <span class="site-footer-icons--title">Twitter</span>
              </a>
            </li>
            <li class="site-footer-icons--item">
              <a class="site-footer-icons--link site-footer-icon icon-facebook" href="{{ site.facebook }}" title="Like us on Facebook">
                <span class="site-footer-icons--title">Facebook</span>
              </a>
            </li>
            <li class="site-footer-icons--item">
              <a class="site-footer-icons--link site-footer-icon icon-tumblr" href="{{ site.tumblr }}" title="Follow us on Tumblr">
                <span class="site-footer-icons--title">Tumblr</span>
              </a>
            </li>
            <li class="site-footer-icons--item">
              <a class="site-footer-icons--link site-footer-icon icon-feed" href="{{ site.baseurl }}{{ site.feed }}" title="Subscribe to our ATOM Feed">
                <span class="site-footer-icons--title">ATOM feed</span>
              </a>
            </li>
            <li class="site-footer-icons--item">
              <a class="site-footer-icons--link site-footer-icon icon-newsletter" href="{{ site.newsletter }}" title="View our Newsletter">
                <span class="site-footer-icons--title">Newsletter</span>
              </a>
            </li>
          </ul> <!-- .site-footer-icons--list -->

          <small class="site-footer-copyright">
            &copy; {{ site.time | date: "%Y" }} <a href="{{ site.baseurl }}" class="site-footer-copyright--link">{{ site.title }}</a>. All rights reserved.
          </small>

        </div> <!-- .site-info -->
      </footer> <!-- #colophon .site-footer -->

    </div> <!-- #page .site-container -->

    <!-- build:js(app) /assets/scripts/application.js -->
    <script src="/_bower_components/mousetrap/mousetrap.js"></script>
    <script src="/_bower_components/matchmedia/matchMedia.js"></script>
    <script src="/_bower_components/picturefill/picturefill.js"></script>
    <script src="/assets/scripts/application.js"></script>
    <!-- endbuild -->

    <script>
      var _gaq=[["_setAccount","{{ site.analytics }}"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

  </body>

</html>
