      </main> <!-- #main .siteMain .siteScaffolding -->

      <footer id="colophon" class="siteFooter" role="contentinfo">
        <div class="siteInfo text-center clearfix">

          <nav id="colophonNavigation" class="footerNavigation" role="navigation">
            <ul class="footerNavigation-list list-inline">
              <li class="footerNavigation-item">
                <a class="footerNavigation-link {% if page.title == 'About' %}is-current{% endif %}" href="{{ site.baseurl }}/about/">About</a>
              </li>
              <li class="footerNavigation-item">
                <a class="footerNavigation-link {% if page.title == 'Colophon' %}is-current{% endif %}" href="{{ site.baseurl }}/colophon/">Colophon</a>
              </li>
              <li class="footerNavigation-item">
                <a class="footerNavigation-link {% if page.title == 'Archive' %}is-current{% endif %}" href="{{ site.baseurl }}/archive/">Archive</a>
              </li>
            </ul>
          </nav><!-- #colophonNavigation  .footerNavigation -->

          <ul class="siteFooter-icons--list list-inline">
            <li class="siteFooter-icons--item">
              <a class="siteFooter-icons--link siteFooter-icon icon-twitter" href="http://twitter.com/{{ site.twitter }}" title="Follow us on Twitter">
                <span class="siteFooter-icons--title">Twitter</span>
              </a>
            </li>
            <li class="siteFooter-icons--item">
              <a class="siteFooter-icons--link siteFooter-icon icon-facebook" href="{{ site.facebook }}" title="Like us on Facebook">
                <span class="siteFooter-icons--title">Facebook</span>
              </a>
            </li>
            <li class="siteFooter-icons--item">
              <a class="siteFooter-icons--link siteFooter-icon icon-tumblr" href="{{ site.tumblr }}" title="Follow us on Tumblr">
                <span class="siteFooter-icons--title">Tumblr</span>
              </a>
            </li>
            <li class="siteFooter-icons--item">
              <a class="siteFooter-icons--link siteFooter-icon icon-feed" href="{{ site.baseurl }}{{ site.feed }}" title="Subscribe to our ATOM Feed">
                <span class="siteFooter-icons--title">ATOM feed</span>
              </a>
            </li>
            <li class="siteFooter-icons--item">
              <a class="siteFooter-icons--link siteFooter-icon icon-newsletter" href="{{ site.newsletter }}" title="View our Newsletter">
                <span class="siteFooter-icons--title">Newsletter</span>
              </a>
            </li>
          </ul> <!-- .siteFooter-icons--list -->

          <small class="siteFooter-copyright">
            &copy; {{ site.time | date: "%Y" }} <a href="{{ site.baseurl }}" class="siteFooter-copyright--link">{{ site.title }}</a>. All rights reserved.
          </small>

        </div> <!-- .siteInfo -->
      </footer> <!-- #colophon .siteFooter -->

    </div> <!-- #page .site-container -->

    <!-- build:js(app) /assets/scripts/application.js -->
    <script src="/_bower_components/mousetrap/mousetrap.js"></script>
    <script src="/_bower_components/matchmedia/matchMedia.js"></script>
    <script src="/_bower_components/picturefill/picturefill.js"></script>
    <script src="/assets/scripts/smoothScrollTo.js"></script>
    <script src="/assets/scripts/application.js"></script>
    <!-- endbuild -->

    <script>
      var _gaq=[["_setAccount","{{ site.analytics }}"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

  </body>

</html>
