<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10"> <![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <link href="//www.google-analytics.com" rel="dns-prefetch">

    {% if page.title and page.page-class != 'page-category' %}
      <title>{{ page.title }} &mdash; {{ site.title }}</title>
      <meta content="{{ page.title }} &mdash; {{ site.title }}" property="og:title">
      <meta content="{{ page.title }} &mdash; {{ site.title }}" name="twitter:title">
    {% elsif page.page-class == 'page-category' %}
      <title>Posts Categorized &ldquo;{{ page.category | titlecase }}&rdquo; &mdash; {{ site.title }}</title>
      <meta content="Posts Categorized &ldquo;{{ page.category | titlecase }}&rdquo; &mdash; {{ site.title }}" property="og:title">
      <meta content="Posts Categorized &ldquo;{{ page.category | titlecase }}&rdquo; &mdash; {{ site.title }}" name="twitter:title">
    {% else %}
      <title>{{ site.title }} &mdash; {{ site.tagline }}</title>
      <meta content="{{ site.title }} &mdash; {{ site.tagline }}" property="og:title">
      <meta content="{{ site.title }} &mdash; {{ site.tagline }}" name="twitter:title">
    {% endif %}

    {% if page.description %}
      <meta content="{{ page.description }}" name="description">
      <meta content="{{ page.description }}" property="og:description">
      <meta content="{{ page.description }}" name="twitter:description">
    {% elsif page.page-class == 'page-category' %}
      <meta content="A listing of all posts that are categorized as &ldquo;{{ page.category | titlecase }}&rdquo;" name="description">
      <meta content="A listing of all posts that are categorized as &ldquo;{{ page.category | titlecase }}&rdquo;" property="og:description">
      <meta content="A listing of all posts that are categorized as &ldquo;{{ page.category | titlecase }}&rdquo;" name="twitter:description">
    {% else %}
      <meta content="{{ site.description }}" name="description">
      <meta content="{{ site.description }}" property="og:description">
      <meta content="{{ site.description }}" name="twitter:description">
    {% endif %}

    <link href="{{ site.url }}{{ site.feed }}" rel="alternate" title="Feed for all posts on {{ site.title }}" type="application/atom+xml">
    <link href="{{ site.url }}/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon-57x57.png">

    <link rel="shortcut icon" sizes="196x196" href="/favicon-196x196.png">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144x144.png">

    <meta name="msapplication-config" content="/ieconfig.xml">
    <meta name="msapplication-square70x70logo" content="/favicon-128x128-ie11.png">
    <meta name="msapplication-square150x150logo" content="/favicon-270x270-ie11.png">
    <meta name="msapplication-wide310x150logo" content="/favicon-558x270-ie11.png">
    <meta name="msapplication-square310x310logo" content="/favicon-558x558-ie11.png">

    <link rel="shortcut icon" href="/favicon.ico">

    {% if page.secondary %}
      <meta content="article" property="og:type">
      <meta content="{{ site.url }}/about/" property="article:author">

      {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      {% endif %}

      {% if page.sitemap.lastmod %}
        <meta content="{{ page.sitemap.lastmod | date: "%Y-%m-%d" }}" property="article:modified_time">
      {% endif %}

      {% if page.categories %}
        {% for category in page.categories limit:1 %}
        <meta property="article:section" content="{{ category }}">
        {% endfor %}
      {% endif %}

    {% else %}
      <meta content="website" property="og:type">
    {% endif %}

    <meta property="fb:admins" content="12450358">

    <meta content="summary" name="twitter:card">
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="@{{ site.twitter }}" name="twitter:site">
    <meta content="@{{ site.author.twitter }}" name="twitter:creator">

    <link href="{{ site.googleplus }}" rel="publisher">
    <link href="https://plus.google.com/{{ site.author.googleplus }}/posts" rel="author">

    <meta name="p:domain_verify" content="8d1be03d70e6cc1396e82ac1dfec9a76"/>

    {% if page.page-class == 'page-home' %}
      <meta content="{{ site.url }}" property="og:url">
      <meta content="{{ site.url }}" name="twitter:url">
    {% else %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">
    {% endif %}

    {% if page.secondary.image %}
      <meta property="og:image" content="{{ site.url }}/{{ site.picture.source }}/{{ page.secondary.image }}">
      <meta name="twitter:image:src" content="{{ site.url }}/{{ site.picture.source }}/{{ page.secondary.image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}/images/originals/webworkers-logo.png">
      <meta name="twitter:image:src" content="{{ site.url }}/images/originals/webworkers-logo.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="1024">
      <meta property="og:image:height" content="1024">
    {% endif %}

    <!-- build:css({app,.tmp}) /styles/application.css -->
    <link href="/styles/application.css" rel="stylesheet">
    <!-- endbuild -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48705944-1', 'webworke.rs');
      ga('send', 'pageview');
    </script>

  </head>

  <body id="top" class="layout-default {{ page.layout-class }} {{ page.page-class }}">

    <div id="page" class="hfeed">

      <!--[if lt IE 9]><div class="browseHappy-container text-center">
        <small class="browseHappy-text">Your browser is <em>ancient!</em> Please <a href="http://browsehappy.com/" class="browseHappy-link">upgrade to a different browser</a> to properly experience this site.</small>
      </div><![endif]-->

      <header id="masthead" class="siteHeader" role="banner">

        <div class="siteScaffolding">

          <div class="siteHeader-inner">

            <div class="siteHeader-primary">
              <a href="{{ site.url }}" title="Return to homepage" class="siteLogo">
                {% include siteLogo.svg %}
                {% include siteLogo-tagline.svg %}
              </a> <!-- .siteLogo -->
            </div> <!-- .siteHeader-primary -->

            <div class="siteHeader-secondary">
              <nav id="siteNavigation" class="mainNavigation" role="navigation">
                <h1 class="visuallyHidden">Menu</h1>
                <div class="visuallyHidden">
                  <a href="#content">Skip to content</a>
                </div>
                <ul class="mainNavigation-list list-inline">
                  <li class="navigation-item">
                    <a class="navigation-link {% if page.title == 'About' %}is-current{% endif %}" href="{{ site.url }}/about/">About</a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link {% if page.title == 'Archive' %}is-current{% endif %}" href="{{ site.url }}/archive/">Archive</a>
                  </li>
                </ul> <!-- .mainNavigation-list .list-inline -->
              </nav> <!-- #siteNavigation  Header -->
            </div> <!-- .siteHeader-secondary -->

          </div> <!-- .siteHeader-inner -->

        </div> <!-- .siteScaffolding -->

      </header> <!-- #masthead .siteHeader -->

      <main id="main" class="siteMain siteScaffolding" role="main">
