<article class="post hentry" itemscope itemtype="http://schema.org/Article">
  <header class="entry-header">
    <div class="entry-meta">
      <small class="entry-date">
        <time class="entry-time" datetime="{{ site.time | date_to_xmlschema }}" itemprop="datePublished" content="{{ site.time | date: "%Y-%m-%d" }}">{{ site.time | date: "%B %d, %Y" }}</time>
      </small>
    </div> <!-- .entry-meta -->
    <h1 class="entry-title" itemprop="name">
      <a class="entry-link" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">
        {{ post.title }}
      </a>
    </h1>
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div> <!-- .entry-content -->
  <footer class="entry-meta">
    {% if post.previous.url or post.next.url %}
      <nav class="navigation navigation-entry-meta" role="navigation">
        <h1 class="visuallyhidden">Post Navigation</h1>
      {% if post.previous.url %}
        <a href="{{ post.previous.url }}" title="{{ post.previous.title }}" class="navigation-entry-meta-link previous">&#x276C;</a>
      {% endif %}
      {% if post.next.url %}
        <a href="{{ post.next.url }}" title="{{ post.next.title }}" class="navigation-entry-meta-link next" >&#x276D;</a>
      {%endif %}
      </nav><!-- .navigation navigation-entry-meta -->
    {%endif %}
  </footer> <!-- .entry-meta -->
</article>
