<article class="post hentry" itemscope itemtype="http://schema.org/Article">
  <header class="entry-header">
    <div class="entry-meta">
      <small class="entry-date">
        <time class="entry-time" datetime="{{ site.time | date_to_xmlschema }}" itemprop="datePublished" content="{{ site.time | date: "%Y-%m-%d" }}">{{ site.time | date: "%B %d, %Y" }}</time>
      </small>
    </div> <!-- .entry-meta -->
    <h1 class="entry-title" itemprop="name">
      {% if page.page-class == "page-home" %}
        <a class="entry-link" href="{{ site.baseurl }}{{ page.url }}" rel="bookmark">
          {{ title }}
        </a>
      {% elsif page.layout-class == "layout-post" %}
        {{ title }}
        <a class="entry-link" href="{{ site.baseurl }}{{ page.url }}" rel="bookmark">
          Infinity link
        </a>
      {% endif %}
    </h1>
  </header>
  <div class="entry-content">
    {{ content }}
  </div> <!-- .entry-content -->
  <footer class="entry-meta">
  </footer> <!-- .entry-meta -->
</article>
