<article class="post hentry" itemscope itemtype="http://schema.org/Article">
  <header class="entryHeader">
    <div class="entryMeta entryMeta-header">
      <small class="entryDate">
        <time class="entryTime date updated" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </small>
    </div> <!-- .entryMeta .entryMeta-header -->
    <h1 class="entryTitle">
      <a class="entryLink" href="{{ site.url }}{{ post.url }}" rel="bookmark">
        <span class="entry-title author vcard" itemprop="name">{{ post.title }}</span>&nbsp;<span class="entryLink-character">&rarr;</span>
      </a>
    </h1>
    <span class="visuallyHidden author" aria-hidden="true">{{ site.author.name }}</span>
  </header>
  <div class="entryContent clearfix">
    {{ post.content }}
  </div> <!-- .entryContent -->
  <footer class="entryMeta entryMeta-footer entryMeta-footer__post clearfix">
    {% if post.previous.url or post.next.url %}
      <nav class="entryMeta-navigation" role="navigation">
        <span class="visuallyHidden">Post Navigation</span>
      {% if post.previous.url %}
        <a href="{{ post.previous.url }}" title="Link to {{ post.previous.title }}" class="entryMeta-navigation--link previous clearfix" rel="prev"><span class="entryMeta-navigation--link__arrow">&larr;&nbsp;</span> <span class="entryMeta-navigation--link__text">{{ post.previous.title }}</span></a>
      {% endif %}
      {% if post.next.url %}
        <a href="{{ post.next.url }}" title="Link to {{ post.next.title }}" class="entryMeta-navigation--link next clearfix" rel="next"><span class="entryMeta-navigation--link__text">{{ post.next.title }}</span> <span class="entryMeta-navigation--link__arrow">&nbsp;&rarr;</span></a>
      {%endif %}
      </nav> <!--  entryMeta-navigation -->
    {%endif %}
    <ul class="socialShare-icons--list list-inline text-center">
      <li class="socialShare-icons--item"><small>Share:</small></li>
      <li class="socialShare-icons--item"><a class="socialShare-icons--link icon-twitter--link" target="_blank" href="https://twitter.com/intent/tweet?text={{ site.title | append: ':' | cgi_escape }}+{{ post.title | cgi_escape }}{% if post.social-share.twitter.username %}+{{ post.social-share.twitter.username | prepend: '(@' | append: ')' | cgi_escape }}{%endif %}&amp;url={{ site.url }}{{ post.url }}&amp;via={{ site.twitter }}{% if post.social-share.twitter.related %}&amp;related={{ post.social-share.twitter.related | join: ',' | cgi_escape }}{%endif %}{% if post.social-share.twitter.hashtags %}&amp;hashtags={{ post.social-share.twitter.hashtags | join: ',' | cgi_escape }}{%endif %}" title="Share this profile of {{ post.title }} on Twitter">{% include social-icons/twitter.svg %}<span class="visuallyHidden">Twitter</span></a></li>
      <li class="socialShare-icons--item"><a class="socialShare-icons--link icon-facebook--link" target="_blank" href="https://www.facebook.com/dialog/share?app_id={{ site.facebookAppID }}&amp;display=popup&amp;href={{ site.url }}{{ post.url }}&amp;redirect_uri={{ site.url }}{{ post.url }}" title="Share this profile of {{ post.title }} on Facebook">{% include social-icons/facebook.svg %}<span class="visuallyHidden">Facebook</span></a></li>
      <li class="socialShare-icons--item"><a class="socialShare-icons--link icon-pinterest--link" target="_blank" href="http://pinterest.com/pin/create/link/?url=?url={{ site.url }}{{ post.url }}{% if post.secondary.image %}&amp;media={{ site.url }}/{{ site.picture.source }}/{{ post.secondary.image }}{% endif %}&amp;description={{ site.title | append: ': ' | cgi_escape }}{{ post.title | cgi_escape }}" title="Pin this profile of {{ post.title }} on Pinterest">{% include social-icons/pinterest.svg %}<span class="visuallyHidden">Pinterest</span></a></li>
    </ul>
    <p class="entryMeta-footer--posted text-center">Posted by <a href="{{ site.url }}/about/" class="entryMeta-footer--posted-link">{{ site.author.name }}</a> on <span class="entryMeta-footer--posted-date">{{ post.date | date: "%B %-d, %Y" }}</span> in
      {% if post.categories != empty %}
        {% for category in post.categories %}
          {% if forloop.length == 2 %}
            <a class="entryMeta-footer--category" href="{{ site.url }}/{{ category | replace:' ','-' }}/" rel="category">{{ category | titlecase }}</a>{% if forloop.last == false %} and {% endif %}{% if forloop.last %}.{% endif %}
          {% else %}
            {% if forloop.last and forloop.length != 1 %}and {% endif %} <a class="entryMeta-footer--category" href="{{ site.url }}/{{ category | replace:' ','-' }}/" rel="category">{{ category | titlecase }}</a>{% if forloop.last == false %}, {% endif %}{% if forloop.last %}.{% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <a data-scroll href="#top" class="entryMeta-footer--backToTop float-right">&uarr; Back to top</a>
  </footer> <!-- .entryMeta .entryMeta-footer-->
</article>
