This is the sidebar
{% if page.secondary.image %}
  <figure class="" itemscope itemtype="http://schema.org/ImageObject">
    <img class="" src="{{ page.secondary.image }}" alt="Photo of {{ page.title }}" itemprop="contentURL" />

    {% if page.secondary.caption or page.secondary.credit-text %}
      <figcaption class="" itemprop="description">
        {{ page.secondary.caption }}

        {% if page.secondary.credit-text %}

          {% if page.secondary.credit-url %}
            <a href="{{ page.secondary.credit-url }}" class="">
          {% endif %}

          <p>{{ page.secondary.credit-text }}</p>

          {% if page.secondary.credit-url %}
            </a>
          {% endif %}

        {% endif %}
      </figcaption>
    {% endif %}

  </figure>
{% endif %}

{% if page.secondary.title or page.secondary.organization %}
  <h3 class="">

    {% if page.secondary.url %}
      <a class="url" href="{{ page.secondary.url }}" itemprop="url">
    {% endif %}

    {% if page.secondary.title %}
      <span itemprop="jobTitle">{{ page.secondary.title }}</span>
    {% endif %}

    {% if page.secondary.preposition %}
      {{ page.secondary.preposition }}
    {% endif %}

    {% if page.secondary.organization %}
      <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">{{ page.secondary.organization }}</span>
    {% endif %}

    {% if page.secondary.url %}
      </a>
    {% endif %}

  </h3>
{% endif %}

{% if page.secondary.description %}
  <p class="" itemprop="description">{{ page.secondary.description }}</p>
{% endif %}

{% if page.secondary-links %}
  <ul class="">
    {% for link in page.secondary-links %}
      <li class="">
        <a class="url {{ link.class }}" href="{{ link.url }}" itemprop="url">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
