{% if post %}
 {% assign title = post.title %}
 {% assign secondary = post.secondary %}
 {% assign secondary-links = post.secondary-links %}
{% elsif page %}
 {% assign title = page.title %}
 {% assign secondary = page.secondary %}
 {% assign secondary-links = page.secondary-links %}
{% endif %}

{% if secondary.title or secondary.organization %}
  <h3 class="sidebar-heading sidebar-heading--top">

    {% if secondary.url %}
      <a class="sidebar-heading--link url" href="{{ secondary.url }}" itemprop="url">
    {% endif %}

    {% if secondary.title %}
      <span class="sidebar-title" itemprop="jobTitle">{{ secondary.title }}</span>
    {% endif %}

    {% if secondary.preposition %}
      <span class="sidebar-preposition">
        {{ secondary.preposition }}
      </span>
    {% endif %}

    {% if secondary.organization %}
      <span class="sidebar-organization" itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">{{ secondary.organization }}</span>
    {% endif %}

    {% if secondary.url %}
        <span class="sidebar-character">&rarr;</span>
      </a>
    {% endif %}

  </h3>
{% endif %}

{% if secondary.image %}
  <div class="sidebarSecondary">
    <figure class="sidebar-figure" itemscope itemtype="http://schema.org/ImageObject">

      <a class="sidebar-image--link" href="{{ secondary.url }}" itemprop="url">
        {% picture sidebar {{ secondary.image }} alt="Photo of {{ title }}" %}
      </a>

      {% if secondary.caption %}
        <figcaption class="sidebar-caption text-center" itemprop="description">
          {{ secondary.caption }}

          {% if secondary.caption-link %}
            <a href="{{ secondary.caption-link }}" class="sidebar-caption--link">

            {{ secondary.caption-link--text }}

            </a>
          {% endif %}

        </figcaption>
      {% endif %}

    </figure>
  </div>
{% endif %}

<div class="sidebarPrimary">
  {% if secondary.title or secondary.organization %}
    <h3 class="sidebar-heading sidebar-heading--bottom">

      {% if secondary.url %}
        <a class="sidebar-heading--link url" href="{{ secondary.url }}" itemprop="url">
      {% endif %}

      {% if secondary.title %}
        <span class="sidebar-title" itemprop="jobTitle">{{ secondary.title }}</span>
      {% endif %}

      {% if secondary.preposition %}
        <span class="sidebar-preposition">
          {{ secondary.preposition }}
        </span>
      {% endif %}

      {% if secondary.organization %}
        <span class="sidebar-organization" itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">{{ secondary.organization }}</span>
      {% endif %}

      {% if secondary.url %}
          <span class="sidebar-character">&rarr;</span>
        </a>
      {% endif %}

    </h3>
  {% endif %}

  {% if secondary.description %}
    <p class="sidebar-description" itemprop="description">{{ secondary.description }}</p>
  {% endif %}

  {% if secondary-links %}
    <ul class="sidebar-links--list list-inline">
      {% for link in secondary-links %}
        <li class="sidebar-links--item">
          <a class="sidebar-links--link url {{ link.class }} ir" href="{{ link.url }}" itemprop="url">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
